{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment Reporting</title>
</head>

<body class="bg-light-subtle min-vh-100 vh-100">
    <div class="d-flex flex-column" style="min-height: 100%;">
        {% include 'components/navbar.html' %}
        <div class="flex-grow-1">
            <div class="container  mb-4">
                {% block content %}
                {% endblock %}
                {% block scripts %}
                {% endblock scripts %}
            </div>
        </div>
        
            <footer class="absolute text-center text-light p-2 text-overflow" style="background-color: rgba(54, 84, 134);">
                <p class="m-auto"> This system is a class project and is not monitored. No real information should be submitted here.
                    If you would like to report an actual issue, use this link: 
                    <a href="https://customerportal.fm.virginia.edu/Customerrequest/request/report" style="color: rgb(152, 222, 255);">UVA FM Reporting Form</a>
                </p>
            </footer>
    
    </div>
    
</body>
