{% extends 'components/base.html' %}

{% load socialaccount %}
{% load static %}
{% block content %}
<body style="background-color:#fefefe">
    <div class="align-items-center d-flex justify-content-center text-center w-100 h-100">
        <div style="margin-top: 2rem;">
            <h1 class="pb-4"><strong>Welcome!</strong></h1>
            <img src="https://api.logo.com/api/v2/images?logo=logo_0c25c701-ccbd-4937-b28b-1c7609a15033&u=1713821966584&format=svg&margins=166&width=1500&height=1000&fit=contain" alt="Site Logo" width="300" height="150">
            <h3 class="pt-4"><strong>About Us</strong></h3>
            <h5 class="pt-2">
                Welcome to EquipmentReporting, a site to report facility and utility issues at UVA. Your reports play a
                crucial role in ensuring a seamless experience for everyone in the UVA community. At EquipmentReporting,
                we believe in transparency and accountability.
            </h5>
            <h5 class="pt-2 pb-2">
                <strong>How to Report</strong>
                <li>
                    <a>Log In: Sign in through Google to submit a report. This allows you to track your report's status.</a>
                </li>
                <li>
                    <a>Anonymous Reporting: Prefer to remain anonymous? No problem. Click on Report Anonymously to get started.</a>
                </li>
            </h5>
            <div class="mt-4">
                <a href="{% provider_login_url 'google' %}?next=/home" class = "btn btn-primary btn-submit mx-1">Log in with Google</a>
                <a href="{% url 'Home' %}" class="btn btn-primary btn-submit mx-1">Report Anonymously</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}